{% extends 'base.html.twig' %}

{% block title %}
    {% if mode %}
        Modification
    {% else %}
        Création
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {% if mode %}
            Modification classe energétique
        {% else %}
            Création d'une nouvelle classe energétique
        {% endif %}
    </h1>

    {{ form_start(formEnergie) }}
        {{ form_row(formEnergie.nom, {label: 'Nom' }) }} 
        {{ form_row(formEnergie.valeur, {label: "Valeur " }) }}   
        {% if mode %}
            <button type="submit" class="btn btn-outline-primary m-2">Modifier</button>
        {% else %}
            <button type="submit" class="btn btn-outline-primary m-2">Créer</button>
        {% endif %}
    {{ form_end(formEnergie) }}

{% endblock %}